@page "/"
<link href="sidebar.css" rel="stylesheet" />

<h1>RED VIAL</h1>
<style>

    .container{
    padding-left:150px;
    width: 100%;
    height: 100%;
    } 

    .calles {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    align-items: center;
    gap: 3px;
    }

</style>

<div class="sidebar">
    <button class="sidebar-btn">Agregar Carro</button>
    <button class="sidebar-btn">Seleccionar Carro</button>
    <button class="sidebar-btn">Circular vehiculos</button>
    <button class="sidebar-btn">Eliminar carro</button>
    <button class="sidebar-btn">Cambiar estado semaforo</button>
</div>

@code{
    private RedVial miCiudad = new RedVial();
    private InformacionNodo infoCentro = new InformacionNodo { Nombre = "Plaza Central", Semaforo = true };

    protected override void OnInitialized()
    {
        miCiudad.CrearNodoCentral(infoCentro);
    }
}

<div class="container">    
    <h3>Calles</h3>
    <div class="calles">
        <Calle showCarro=false interseccion=miCiudad.NodoCentral></Calle>
        @* <Calle showCarro=true></Calle>
        <Calle showCarro=true></Calle>
        <Calle showCarro=false></Calle>
        <Calle showCarro=true></Calle> *@
    </div>
</div>

